.about {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .about-gallary {
        position: absolute;
        width: 100%;
        top: -20%;
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;

        img {
            max-width: 80%;
        }
    }

    .about-body {
        margin-top: 100px;
        width: 82%;
        display: flex;
        justify-content: space-between;

        .left {
            width: 50%;

            .title-page {
                margin-left: 15px;
            }

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 22.9038px;
                line-height: 34px;
                color: #000000;
            }

            .paragraph-one {
                margin: 50px 0;
            }
        }

        .right {
            width: 50%;
            background: url(../../../public/image/about/photo.png) no-repeat center;
            background-size: cover;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
    }
}

@media (max-width: 768px) {
    .about {
        padding: 20px 0;
        min-height: 100vh;
        justify-content: center;
        flex-direction: column-reverse;

        .about-gallary {
            position: static;
        }

        .about-body {
            margin: 0;
            height: auto;
            flex-direction: column;

            .left {
                width: 100%;

                .title-page {
                    font-size: 40px;
                }
            }

            .right {
                width: 100%;
                height: 300px;
                background-size: contain;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .about {
        padding: 20px 0;
        min-height: 150vh;
        flex-direction: column-reverse;
        .about-gallary {
            width: 100%;
            position: static;
        }
        .about-body {
            width: 100%;
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .about-body {
        margin: 500px 0 40px 0 !important;
    }
}