.contact {
    padding: 50px;
    min-height: 80vh;
    z-index: 2;
    border-radius: 0 0 40px 40px;
    background: rgba(255, 255, 255, 1);
    -webkit-border-radius: 0 0 40px 40px;
    -moz-border-radius: 0 0 40px 40px;
    -ms-border-radius: 0 0 40px 40px;
    -o-border-radius: 0 0 40px 40px;

    .contact-page {
        .left {
            width: 50%;
            padding-left: 10%;

            .option {
                margin-top: 100px;
                .location-icon {
                    font-size: 70px !important;
                }
                .icon {
                    margin-right: 30px;
                    font-size: 40px;
                }
                .delivery-icon {
                    font-size: 60px;
                }
                p {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 29px;
                    color: #000000;
                }
            }
        }

        .right {
            width: 50%;
        }
        @media (max-width: 768px) {
            .left, .right {
                width: 100%;
            }
        }
    }
}