.contact {
    padding: 50px;
    min-height: 80vh;
    z-index: 2;
    border-radius: 0 0 40px 40px;
    background: rgba(255, 255, 255, 1);
    -webkit-border-radius: 0 0 40px 40px;
    -moz-border-radius: 0 0 40px 40px;
    -ms-border-radius: 0 0 40px 40px;
    -o-border-radius: 0 0 40px 40px;

    .contact-page {
        display: flex;

        .left {
            width: 50%;
            padding-left: 100px;
            .title-page {
                margin: 0;
            }
            .option {
                margin-top: 100px;

                .location-icon {
                    font-size: 70px !important;
                }

                .icon {
                    margin-right: 30px;
                    font-size: 40px;
                }

                .delivery-icon {
                    font-size: 60px;
                }

                p {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 29px;
                    color: #000000;
                }
            }
        }

        .right {
            width: 50%;
        }
    }
}

@media (max-width: 768px) {
    .contact {
        padding: 0;

        .contact-page {
            flex-direction: column;

            .left {
                padding: 0 0 0 35px;

                .title-page {
                    margin-top: 50px;
                    font-size: 40px;
                    line-height: 40px;
                }

                .location-icon {
                    font-size: 70px !important;
                }

                .number-icon {
                    margin-right: 30px;
                    font-size: 30px !important;
                }

                .delivery-icon {
                    font-size: 60px;
                }

                p {
                    font-size: 20px !important;
                }
            }

            .left,
            .right {
                width: 100% !important;
            }
            .right {
                iframe {
                    width: 100%;
                }
            }
        }
    }
}