.contact {
    padding: 50px;
    min-height: 80vh;
    z-index: 2;
    border-radius: 0 0 40px 40px;
    background: rgba(255, 255, 255, 1);
    -webkit-border-radius: 0 0 40px 40px;
    -moz-border-radius: 0 0 40px 40px;
    -ms-border-radius: 0 0 40px 40px;
    -o-border-radius: 0 0 40px 40px;
    overflow: hidden;

    .contact-page {
        display: flex;

        .left {
            width: 50%;
            padding-left: 100px;

            .title-page {
                margin: 0;
            }

            .option {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                margin-top: 100px;
                align-content: space-between;

                .option-box {
                    display: flex;
                    justify-content: space-between;

                    .image {
                        width: 10%;
                        height: 60px;
                        display: flex;
                        justify-content: start;
                        align-items: center;

                        img {
                            width: 30px;
                            object-fit: cover;
                        }
                    }

                    .paragraph {
                        width: 85%;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;

                        a,
                        p {
                            text-decoration: none;
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 24px;
                            line-height: 29px;
                            color: #000000;
                        }
                    }
                }
                .delivery {
                    .image {
                        img {
                            width: 35px;
                        }
                    }
                }
            }
        }

        .right {
            width: 50%;
        }
    }
}

@media (max-width: 768px) {
    .contact {
        padding: 0;

        .contact-page {
            flex-direction: column;

            .left {
                padding: 0 0 0 35px;

                .title-page {
                    margin-top: 50px;
                    font-size: 40px;
                    line-height: 40px;
                }

                p, a {
                    font-size: 20px !important;
                }
            }

            .left,
            .right {
                width: 100% !important;
            }

            .right {
                iframe {
                    width: 100%;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .contact {
        .contact-page {
            flex-direction: column;

            .left,
            .right {
                width: 100%;
            }
        }
    }
}