.css-1qzevvg {
    position: absolute;
    top: -55%;
    z-index: 111;

    img {
        cursor: pointer;
    }

    img:nth-child(1) {
        margin-left: -20rem;
    }

    img:nth-child(2) {
        margin-right: -20rem;
    }
}

.title-page {
    margin: 50px 0 0 10%;
}

@media (max-width: 768px) {
    .title-page {
        font-size: 40px !important;
    }

    .css-1fzpoyk {
        img {
            width: 300px;
        }
    }

    .css-1qzevvg {

        img:nth-child(1) {
            margin-left: -250%;
        }

        img:nth-child(2) {
            margin-right: -250%;
        }
    }
}