.partners {
  height: 418px;
  background: rgb(240, 240, 240);
  border-radius: 0 0 40px 40px;
  -webkit-border-radius: 0 0 40px 40px;
  -moz-border-radius: 0 0 40px 40px;
  -ms-border-radius: 0 0 40px 40px;
  -o-border-radius: 0 0 40px 40px;
}
.partners .title-page {
  margin: 50px 0 0 10%;
}
.partners .partners-swiper {
  width: 90%;
  margin: 0 auto;
  height: 300px;
}
.partners .partors-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners .swiper-button-prev {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #555555;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.partners .swiper-button-prev::after {
  font-size: 30px;
  color: #555555;
}
.partners .swiper-button-prev:active {
  border: 2px solid #ff7d4e;
  font-weight: 900;
}
.partners .swiper-button-prev:active::after {
  color: #ff7d4e;
}
.partners .swiper-button-next {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #555555;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.partners .swiper-button-next::after {
  font-size: 30px;
  color: #555555;
  font-weight: 900;
}
.partners .swiper-button-next:active {
  border: 2px solid #ff7d4e;
}
.partners .swiper-button-next:active::after {
  color: #ff7d4e;
}

.partners-swiper-mobile {
  display: none;
}

.partners-swiper-planete {
  display: none;
}

@media screen and (max-width: 767.9px) {
  .partners .title {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    display: flex;
    flex-direction: column-reverse;
    margin: 50px 0;
  }
  .partners .title span {
    position: relative;
    top: -30px;
    left: 0;
    width: 26%;
    height: 4px;
    margin: 0;
    padding: 0;
  }
  .partners .title h1 {
    font-size: 22px !important;
    margin-top: 0;
    padding: 0;
    text-align: center;
  }
  .partners .swiper-button-prev {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 50%;
    border: 2px solid #555555;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: -5px;
  }
  .partners .swiper-button-prev::after {
    color: #555555 !important;
    font-weight: 900;
  }
  .partners .swiper-button-prev:active::after {
    color: #ff7d4e !important;
  }
  .partners .swiper-button-next {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 50%;
    border: 2px solid #555555;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: -5px;
  }
  .partners .swiper-button-next::after {
    color: #555555 !important;
    font-weight: 900;
  }
  .partners .swiper-button-next:active::after {
    color: #ff7d4e !important;
  }
  .partners-swiper {
    display: none;
  }
  .partners-swiper-mobile {
    display: flex;
  }
  .partners-swiper-mobile .swiper-button-prev::after {
    font-size: 20px;
    color: #fff;
  }
  .partners-swiper-mobile .swiper-button-next::after {
    font-size: 20px;
    color: #fff;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .partners-swiper {
    display: none;
  }
  .partners-swiper-planete {
    display: flex;
  }
}/*# sourceMappingURL=main.css.map */