#load {
    height: 100vh;
    display: flex;
    background: #000 url(./image/load.gif) no-repeat center;
    background-size: 30%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}