.products {
  min-height: 80vh;
  background: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0px 0px 40px 40px;
  -webkit-border-radius: 0px 0px 40px 40px;
  -moz-border-radius: 0px 0px 40px 40px;
  -ms-border-radius: 0px 0px 40px 40px;
  -o-border-radius: 0px 0px 40px 40px;
}
.products .title-page {
  width: 90%;
  margin: 50px 0 40px 10%;
}
.products .title-page::before {
  left: 0;
}
@media (max-width: 768px) {
  .products .title-page {
    font-size: 40px;
    line-height: 40px;
  }
  .products .title-page::before {
    top: 0;
    height: 100%;
    left: 0;
  }
}
.products .products-gallary {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin: 0 0 40px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.products .products-gallary .products-gallary-box {
  margin: 0;
  padding: 0;
  height: 400px;
}
.products .products-gallary .products-gallary-box-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.products .products-gallary .products-gallary-box-body {
  position: relative;
  top: -100px;
  width: 100%;
  min-height: 100px;
  padding: 0 0 20px 0;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.products .products-gallary .products-gallary-box-body .top {
  height: 20px;
  background: rgb(255, 125, 78);
}
.products .products-gallary .products-gallary-box-body .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.products .products-gallary .products-gallary-box-body .bottom .text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  padding: 5px 0;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.products .products-gallary .products-gallary-box-body .bottom a {
  height: 42px;
  width: 231px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  border: 1px solid #8b8b8b;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #8b8b8b;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.products .products-gallary .products-gallary-box-body .bottom a:hover {
  background: #ff7d4e;
  color: #fff;
}