footer {
    min-height: 20vh;
    z-index: 1;
    background: #555555;

    .footer-page {
        display: flex;

        .left {
            width: 50%;
            min-height: 100%;
            display: flex;
            padding-left: 13%;
            justify-content: center;
            align-items: center;

            .title {
                position: relative;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 26.1153px;
                line-height: 108.5%;
                color: #FFFFFF;

                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 80%;
                    background-color: #fff;
                    width: 3px;
                    height: 100%;
                }
            }

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 15.6725px;
                line-height: 24px;
                color: #FFFFFF;
            }
        }

        .right {
            width: 50%;
            height: 100%;
            display: flex;
            gap: 40px;
            justify-content: center;
            align-items: center;

            img {
                cursor: pointer;
            }
        }
    }

    @media (max-width: 768px) {
        .footer-page {
            justify-content: center;
            flex-direction: column;

            .left,
            .right {
                width: 100% !important;
            }

            .left {
                padding: 0;
                .title {
                    font-size: 22px;
                    width: 240px;
                    &::after {
                        left: 85%;
                    }
                }
                p {
                    line-height: 16px;
                }
            }

            .right {
                margin-top: -100px;
                gap: 20px;
                img {
                    width: 30px;
                }
            }
        }
    }
}