footer {
    min-height: 20vh;
    z-index: 1;
    background: #555555;

    .footer-page {
        display: flex;

        .left {
            width: 50%;
            min-height: 100%;
            display: flex;
            padding-left: 13%;
            justify-content: center;
            align-items: center;

            img {
                margin: 0 10px 0 -10px;
                width: 60px;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
            }

            p {
                margin-top: 20px;
                font-style: normal;
                font-weight: 500;
                font-size: 15.6725px;
                line-height: 24px;
                color: #FFFFFF;
            }
        }

        .right {
            width: 50%;
            height: 100%;
            display: flex;
            gap: 40px;
            justify-content: center;
            align-items: center;

            a {
                font-size: 60px;
                color: #FFFFFF;

                img {
                    cursor: pointer;
                }

                &:hover {
                    color: #FF7D4E;
                }
            }
        }
    }

    @media (max-width: 768px) {
        & {
            min-height: 30vh !important;
        }

        .footer-page {
            justify-content: center;
            flex-direction: column;

            .left,
            .right {
                width: 100% !important;
            }

            .left {
                padding: 0 0 0 20px;

                p {
                    line-height: 16px;
                }
            }

            .right {
                margin-top: -70px;
                gap: 20px;

                a {
                    font-size: 30px;

                    img {
                        width: 30px;
                    }
                }
            }
        }
    }
}